<!DOCTYPE html>
<html>
  <style>
    /*
    #dataID {
      background-color:chartreuse;
    }
    */
  </style>
<body>

<h2>Dennis database website project</h2>
  <!-- mouse click or finger tapping will bring the element into focus-->
  <!-- id used to target element with css, javascript, and label tags -->
  <!-- name used to target element to retrieve value -->

<form action="/processget" method="POST">
  <label for="username">Name:</label><br>
  <input type="text" id="username" name="userName" value=""><br>
  Age:<br><input type="number" name="ageValue" value=""><br>
  Number:<br><input type="number" name="numberValue" value=""><br>
  Address:<br><input type="text" name="addressValue" value=""><br><br>
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>